@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
Red Hat Dubai <br/>
Office Park Building, Block A, Office 406A <br/>
PO Box 502579, Dubai, UAE <br/>
</address>

<address>
    <strong>Solutions:</strong> <a href="mailto:weldoami@redhat.com">weldoami@redhat.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:selkhade@redhat.com">selkhade@redhat.com</a>
</address>
